#tabs {
  display: flex;
}

.tab {
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f1f1f1;
  padding: 8px 16px;
}

.tab:focus {
  outline: none;
  box-shadow: 0 0 0 2px #999;
}

.tab.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.tab-content {
  display: none;
  border: 1px solid #ccc;
  padding: 16px;
}

.tab-content.active {
  display: block;
}


/*codigo básico de dividir la pantalla por sia caso y o si lo queremso modificar*/
/*
#parte1 {
  width: 50%;
  float: left;
}

#parte2 {
  width: 50%;
  float: right;
}

#parte3 {
  width: 50%;
  float: left;
}

#parte4 {
  width: 50%;
  float: right;
}
*/